<h3>Editar Galpão</h3>
<%= link_to 'Home', root_path%>
<%= button_to 'Remover', warehouse_path(@warehouse), method: :delete %>
<hr>

<body>
  <%= render partial: 'form', locals: { warehouse: @warehouse }%>
</body>